@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer base {
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"),
      url("../assets/fonts/Gilroy-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Gilroy";
    font-style: semibold;
    font-weight: 600;
    src: url("../assets/fonts/Gilroy-Semibold.woff2") format("woff2"),
      url("../assets/fonts/Gilroy-Semibold.woff") format("woff");
  }
  @font-face {
    font-family: "Gilroy";
    font-style: bold;
    font-weight: 700;
    src: url("../assets/fonts/Gilroy-Bold.woff2") format("woff2"),
      url("../assets/fonts/Gilroy-Bold.woff") format("woff");
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .active-tab {
    @apply underline font-bold;
  }

  @keyframes neon {
    from {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
        0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
        0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
        0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
        0 0 60px rgba(30, 132, 242, 1);
    }
  }

  .glow {
    animation: neon 0.08s ease-in-out infinite alternate;
  }
}
